<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:secutiry="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/login.jsp*" security="none"/>

    <security:http auto-config="false" use-expressions="true">
        <security:intercept-url pattern="/login.jsp" access="permitAll"/>
        <secutiry:intercept-url pattern="/**" access="isAuthenticated()"/>
        <security:form-login login-page="/login.jsp"
                             login-processing-url="/login"
                             default-target-url="/departments/list.html"
                             always-use-default-target='true'/>
        <security:logout logout-url="/logout" delete-cookies="JSESSIONID"/>
        <security:session-management invalid-session-url="/login.jsp" session-fixation-protection="newSession">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </security:session-management>
    </security:http>

    <security:user-service id="userService">
        <security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
        <security:user name="user1" password="user1" authorities="ROLE_USER"/>
        <security:user name="user2" password="user2" authorities="ROLE_USER"/>
    </security:user-service>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService"/>
    </security:authentication-manager>

    <bean id="securityContextHolder" class="org.springframework.security.core.context.SecurityContextHolder"/>

</beans>
