<div class="container">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="login">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="custom">Please login into a system</div>
                    </div>
                    <div class="container-fluid">
                        <form name="loginform" class="form" role="form">
                            <div class="form-group">
                                <label for="userName">Username:</label>
                                <input type="text" class="form-control" id="userName" name="username"
                                       ng-model="user.username" required ng-minlength="5"/>
                                <span ng-show="loginform.username.$error.required">Required</span>
                                <span ng-show="loginform.username.$error.minlength">min 5 chars</span>
                                <span class="alarma">{{errors.username}}</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       ng-model="user.password" required ng-minlength="5"/>
                                <span ng-show="loginform.username.$error.required">Required</span>
                                <span ng-show="loginform.password.$error.minlength">min 5 chars</span>
                                <span class="alarma">{{errors.password}}</span>
                            </div>

                            <button ng-click="main.validate()" class="btn btn-default">Submit</button>
                        </form>
                        <span ng-bind="message.string" class="alarma"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>